.menu, .menu2 {
    color:white;
    display: flex;
    flex-direction: column;
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
}

.menu2 {
    color:white;
    display: flex;
    flex-direction: column;
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 85px;
    right: 0px;
    left: 1000px;
}



.menu div, .menu2 div {
    margin:5px 0 5px 0;
    padding: 2 0 2 5;
    background-color: rgb(31, 31, 31);
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.menu div:hover , .menu2 div:hover {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.253);
    background-color: rgb(20, 20, 20);
}

.menu a, .menu2 a {
    
    margin: 0;
    color: white;
    font-style: normal;
    text-decoration: none;
    width: 100%;
    
}

.book1 {
    cursor: pointer;
}

.book1 :hover {
    background-color: rgb(20, 20, 20);
    
}

.current-page {
    background-color: rgb(20, 20, 20);
}

.menu2 {
  
}